* {
	background-color: #1b1b1b;
    color: lightgrey;
}

div.parent {
	text-align: center;
}

.button {
	display:  inline-block;
	background-color: darkseagreen;
	font-size: 2em;
	width: 50%;
	max-width: 300px;
	margin-top: 20px;
	margin-left: 25%;
	margin-right: 25%;
	border: 2px solid black;
	border-radius: 100px;
	padding-top: 10px;
	padding-bottom: 5px;
	box-shadow: 10px 10px 5px black;
	cursor: pointer;
	color: black;
	text-decoration: none;
	font-family: Monospace;
}

a {
	color: black;
	text-decoration: none;
	font-family: Monospace;
	background-color: inherit;
}


